<?xml version="1.0" encoding="UTF-8" standalone="no"?><testConfig><android><avdName/><launchEmulator>false</launchEmulator><applicationPath_android/><packageName/><mainActivities/><mainActivity/><apiLevel/><installApp>false</installApp></android><ios><application_ios/><xcode>Xcode3</xcode><device/><user_script_selection>false</user_script_selection><ios_javascript_path/><ios_javascript_path/></ios><Web><selectedPlatfromForWeb>All</selectedPlatfromForWeb><ip>192.168.1.105</ip><port>8080</port><installwebdriver>true</installwebdriver></Web><hybrid><avdName/><launchEmulator>false</launchEmulator><applicationPath_android/><packageName/><mainActivities/><mainActivity/><apiLevel/><installApp>false</installApp></hybrid></testConfig>